
body{
    background-color: bisque;
}
#top-container{
    display: flex;
    justify-content: end;
    justify-content: space-between;
    background-color: rgb(32, 75, 139);
    color: aliceblue;
    line-height: 3;
    flex-wrap: wrap;
    width: 220vh;
    background-color: rgb(16, 14, 17);
}
.two{
    flex-grow: 1;
    letter-spacing: 10px;
    margin-left: 650px;
}
.three{
    flex-grow: 1;
    letter-spacing: 10px;
}
.four{
    flex-grow: 1;
    letter-spacing: 10px;
    margin-right: 10px;
}
.h1{
    position: absolute;
    padding-top: 70px;
    padding-left: 70px;
    font-size: xx-large;
}
img{
    float: right;
    padding-right: 80px;
    padding-top: 80px;
}
p{
    position: absolute;
    padding-right: 700px;
    padding-left: 80px;
    padding-top: 200px;
}
button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 330px;
    margin-left: 90px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(184, 184, 228);
    border-radius: 10px;
    
}
.info-container{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    height: 60vh;
    width: 220vh;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
    background-color: rgb(77, 77, 83);
}
.box{
    width: 100px;
    height: 100px; 
    border-radius: 15px;
    border: solid 0px;
    margin-top: 150px;
}
#box1{
    background-color: white;
    flex-wrap: wrap;
}
#box2{
    background-color: white;
    flex-wrap: wrap;
}
#box3{
    background-color: white;
    flex-wrap: wrap;
}
h2{
    align-self: center;
    flex-direction: row;
    justify-self: center;
    padding-top: 90px;
    padding-bottom: 70px;
    color: rgb(49, 49, 39);
}
.word-container{
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 220vh;
    border: solid 1px;
    border-top: 0px;
}
.p1{
    position: absolute;
    align-self: center;
    margin-left: 350px;
    padding-right: 330px;
    flex-wrap: wrap;
    padding-bottom: 110px;
    color: rgb(24, 15, 15);
}
.p2{
    position: absolute;
    align-self: center;
    margin-left: 850px;
    margin-top: 250px;
}
.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 45vh;
    width: 220vh;
    border: solid 1px;
    border-top: 0px;
    background-image: url(./firstphoto1.jpg);
}
div button{
    color: rgb(12, 12, 15);
    position: absolute;
    margin-left: 500px;
    margin-top: 130px;
    background-color: rgb(141, 141, 204);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div p{
    position: absolute;
    margin-bottom: 200px;
    padding-top: 80px;
    padding-left: 260px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid 1px;
    border-radius: 50px;
    margin-top: 50px;
    margin: 40px;
    padding-bottom: 50px;
    color: rgb(234, 247, 247);
    background-color: rgb(130, 146, 134);
}
footer{
    text-align: center;
}
